     
<%# <h3>coffee exchange</h3> %>



<h1>Check all the available coffee!</h1>

<%= form_tag coffees_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your perfect coffee"
  %>
  <%= submit_tag "Search", class: "btn1" %>
<% end %>

<ul>
  <% @coffees.each do |c| %>
    <li>
      <%= link_to c.name, coffee_path(c) %> - <%= c.description %>
      <% if policy(c).edit? %>
        <%= link_to "Update", edit_coffee_path(c) %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="container">
      <div class="card">
        <img src="../images/coffee4.jpg" alt="coffee" class="card-img">
        <div class="card-content">
          <h3 class="card-header">Coffee Name</h3>
          <p>The coffee description will go right here. <br>
            Here is where the coffee description will go.</p>
          <p class="price">$15</p>
        </div>
      </div>
      <div class="card">
        <img src="../images/coffee4.jpg" alt="coffee" class="card-img">
        <div class="card-content">
          <h3 class="card-header">Coffee Name</h3>
          <p>The coffee description will go right here. <br>
            Here is where the coffee description will go.</p>
          <p class="price">$15</p>
      </div>
    </div>
    </div>
<% if policy(Coffee).create? %>
  <%= link_to "Sell a coffee", new_coffee_path(), class: "btn btn-primary" %>
<% end %>
