<h1> <%= @coffee.name %> </h1>


<h2> Grown by <%= @coffee.user.email %> </h2> 
<p> <%= @coffee.description %> </p>


<%= simple_form_for [@coffee] do |f|  %>
  <%= f.input :image_url, placeholder: 'https://add_cool_image.com' %>
  <%= f.submit 'Add', class: 'btn btn-info' %>
<%= end %>

<h2>Reviews</h2>
<%# should id be like this?
  @reviews.each do |r|
    r.description
  end %>
<p> Reviews descriptions </p>
  <%= link_to "Buy this coffee", class: "btn btn-primary" %>
  <%= link_to "Delete this coffee", coffee_path(@coffee), method: :delete, data: {confirm: "Are you sure?"}  %>
  <%= link_to "Back", coffees_path, class: "btn btn-primary" %>

<%# confirm: "Are you sure:"} class: "btn btn-primary" );@output... ... ^~~~~ %>