<h1>Here are the list of orders:</h1>

<% @orders.each do |order|  %>
  <ul>
    <p>
    Date: <%= order.created_at %>
    Quantity: <%= order.quantity %>
    Value: <%= order.order_value %>
    <%= link_to "Write a review", new_order_review_path(order) %>
    </p>
  </ul>
<% end  %>
<p><%= link_to "Go back to the home page", root_path %></p>
