<h1>Here are the list of orders:</h1>

<% @orders.each do |order|  %>
  <ul>
    <p>
    User: <%= order.user_id %>
    Date: <%= order.created_at %>
    Quantity: <%= order.quantity %>
    Value: <%= order.order_value %>
    <% if policy(order).create? %>
      <%= link_to "Write a review", new_order_review_path(order) %>
    <% end  %>
    </p>
  </ul>
<% end  %>
<p><%= link_to "Go back to the home page", root_path %></p>
