    <nav>
    <a href="https://coffee-marketplace-ckt.herokuapp.com/">
      <div class='sub-nav'>
        <img src=<%= asset_path('banner_h4qgji.svg') %> alt="coffee logo" class='nav-img'> 
        <h3>coffee exchange</h3>
      </div>
    </a>

        <%= link_to "buy coffee", coffees_path %>
        <%= link_to "sell coffee", new_coffee_path %>
        <%= link_to "community", users_path %>
        
            <% if user_signed_in? %>
        <p> Hello <%= current_user.first_name %> <%= current_user.last_name %>! </p>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </a>
    </nav>