<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
    <main>
        <div class='coffees'>
          <div class='coffee-grid'>
               <img src=<%= asset_path("coffee1.jpg") %> alt="good coffee" class='grid-img'>
               <img src=<%= asset_path("coffee2.jpg") %> alt="good coffee" class='grid-img'>
               <img src=<%= asset_path("coffee3.jpg") %> alt="good coffee" class='grid-img'>
               <img src=<%= asset_path("coffee4.jpg") %> alt="good coffee" class='grid-img'>
               <img src=<%= asset_path("coffee5.jpg") %> alt="good coffee" class='grid-img'>
               <img src=<%= asset_path("coffee6.jpg") %> alt="good coffee" class='grid-img'>
               <img src=<%= asset_path("coffee7.jpg") %> alt="good coffee" class='grid-img'>
               <img src=<%= asset_path("coffee8.jpg") %> alt="good coffee" class='grid-img'>
               <img src=<%= asset_path("coffee9.jpg") %> alt="good coffee" class='grid-img'>
          </div>
          <p>find the most amazing artisnal coffee in the world</p>
          <%= link_to "View Coffees", coffees_path, class: 'btn1' %>

        </div>
        <div class='community'>
          <img src=<%= asset_path("grower.jpg") %> class='grower' alt="coffee grower" style='width: 100%; height: auto; object-fit: contain;'>
        </div>
    </main>
    <section class='grower-info'>
      <div>
        <img src=<%= asset_path("coffee-splash.jpg") %> alt="coffee" class='coffeesplash'>
      </div>
      <div>
        <div class='people'>
          <div class='coffee-grid'>
            <img src=<%= asset_path("cg1.jfif") %> alt="good coffee" class='grid-img2'>
            <img src=<%= asset_path("cg2.jfif") %> alt="good coffee" class='grid-img2'>
            <img src=<%= asset_path("cg3.jfif") %> alt="good coffee" class='grid-img2'>
            <img src=<%= asset_path("cg4.jfif") %> alt="good coffee" class='grid-img2'>
            <img src=<%= asset_path("cg5.jfif") %> alt="good coffee" class='grid-img2'>
            <img src=<%= asset_path("cg6.jfif") %> alt="good coffee" class='grid-img2'>
            <img src=<%= asset_path("cg7.jfif") %> alt="good coffee" class='grid-img2'>
            <img src=<%= asset_path("cg8.jfif") %> alt="good coffee" class='grid-img2'>
            <img src=<%= asset_path("cg9.jfif") %> alt="good coffee" class='grid-img2'>
          </div>
          <p>meet the amazing people who grow world class coffee</p>
          <%= link_to "Community", users_path, class: 'btn1' %>
        </div>
      </div>
    </section>

  </body>
</html>


<p>Here is where all of our coffee community members are located:</p>
<div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%# I removed the link_to routes becuasethey are now included in the nav %>
